.main__container__home {
  width: 100%;
  min-height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;

  .context_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0.5rem;
    overflow: hidden;

    .body-markdown {
      width: 100%;
      font-size: 1.3rem;
      padding: 0.5rem;
      animation: slideRight 1s ease forwards;
      @keyframes slideRight {
        0% {
          transform: translateX(150px);
          opacity: 0;
        }
        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }

    .button__cv {
      display: flex;
      padding: 1rem 2.8rem;
      color: var(--secend-bg-color);
      box-shadow: 0 0 0.5rem var(--main-color);
      background: var(--main-color);
      letter-spacing: 0.1rem;
      font-weight: 600;
      animation: slideBottom 1s ease forwards;
      @keyframes slideBottom {
        0% {
          transform: translateY(100px);
          opacity: 0;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
    .button__cv:hover {
      box-shadow: none;
    }

    @media (min-width: 1000px) {
      .body-markdown {
        font-size: 1.6rem;
      }
    }
  }

  .image__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    animation: zoomIn 2s ease forwards;
    @keyframes zoomIn {
      0% {
        transform: scale(0);
        opacity: 0;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  @media (min-width: 750px) {
    .image__container {
      img {
        max-width: 40rem;
        max-height: 40rem;
      }
    }
  }
  @media (min-width: 1300px) {
    flex-direction: row;
    .context_container {
      width: 50%;
      padding-left: 4.5rem;
      align-items: flex-start;
    }
    .image__container {
      width: 50%;
    }
  }
}
